#todo-error {
    color: red;
    font-size: 2em;
}

body {
    color: white !important;
    text-shadow: 1px 1px black;
    background-size: cover !important;
}

#search-div {
    text-shadow: 0px 0px black !important;
}

header {
    min-height: 20vh;
}

main {
    min-height: 50vh;
}

footer {
    max-height: 20vh;
}

.card {
    /* color: white; */
    text-shadow: 0px 0px black;
    width: 20rem;
}

.myScrolling {
    overflow-y: auto;
    max-height: 30vh;
}

.myScrolling::-webkit-scrollbar {
    display: none;
}

.subtext {
    font-size: 0.75em;
}

/* .mySearchID {
    width: 20rem !important;
} */

.trash-right {
    float: right;
    position: relative;
    cursor: pointer;
}

.trash-right:hover:before {
    font-family: "FontAwesome";
    content: "\f056";
}

.list-item-with-check:hover:before {
    font-family: "FontAwesome";
    content: "\f14a";
    cursor: pointer;
}

.list-item-already-with-check:hover:before {
    font-family: "FontAwesome";
    content: "\f14a";
    /* content: "<i class=" far fa-square "></i>"; */
    cursor: pointer;
}

strike {
    color: grey;
}

#author {
    font-size: 0.75em;
    text-align: center !important;
}

#quote {
    align-items: bottom;
}

p {
    margin-bottom: 0px !important;
}

/* dt {
    font-size: 0.75em;
} */
